@import "tailwindcss";

:root {
    --background: #131313;
    --foreground: #ffffff;
    --accent: #da4de2;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --font-mono: var(--font-ibm-plex-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
